<strong>Olá, {{provider}}</strong>
<p>Hove um cancelamento de horário confira os detalhes abaixo:</p>
<p>
    <strong>Cliente: </strong>{{user}}<br />
    <strong>Data/hora: </strong>{{date}}<br />
    <strong>Cliente: </strong>{{user}}<br />
    <br>
    <small>O horário esta novamente disponível para agendamentos.</small>
</p>
